:root {
  --color-primary: #e30813;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: #000000;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
