.dsmovie-form-container {
  max-width: 480px;
  margin: 40px auto;
  padding: 20px;
}

.dsmovie-form {
  width: calc(100% - 20px);
}

.dsmovie-form-group {
  margin-bottom: 20px;
}

.dsmovie-form-group label {
  font-size: 12px;
  color: #aaa;
}

.dsmovie-form-btn-container {
  display: flex;
  justify-content: center;
}
