.dsmovie-form-container {
  max-width: 480px;
  margin: 40px auto;
  padding: 20px;
}

.dsmovie-form {
  width: calc(100% - 20px);
}

.dsmovie-form-group {
  margin-bottom: 20px;
}

.dsmovie-form-group label {
  font-size: 12px;
  color: #aaa;
}

.dsmovie-form-btn-container {
  display: flex;
  justify-content: center;
}

.dsmovie-form-btn {
  /* background-color: var(--color-primary); */
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  transition: filter 0.2s;
  border-radius: 1.25rem;
}

.dsmovie-form-btn:hover {
  filter: brightness(0.9);
  /* background-color: var(--color-primary); */
}

.dsmovie-form-btn-container svg {
  margin-left: 0.5rem;
}
